.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding: 2rem 1rem;
  background-color: #f1f1f1;
  z-index: 999;
}

.sidebar.active {
  margin-left: -18rem;
}

.content {
  margin-left: 18rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
}

.content.active {
  margin-left: 0;
}
