*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0;
}

/* TAB */

#tabs {
  width: 100%;
}

.custom-tabs {
  background-color: #1e2130;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  height: fit-content;
  cursor: pointer;
}

#setting_tab.custom-tab,
#control_tab.custom-tab {
  background-color: #161a28;
  letter-spacing: 1px;
  color: inherit;
  border: 0;
  border-bottom: #1e2130 solid 4px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 18px;
}

#setting_tab.custom-tab--selected,
#control_tab.custom-tab--selected {
  border-bottom: #91dfd2 solid 4px !important;
}

#setting_tab.custom-tab {
  margin-right: 3px;
}

#control_tab.custom-tab {
  margin-left: 3px;
}

.custum_card {
  border: solid 1px #f1f1f1;
  padding: 15px;
  border-radius: 5px;
}

.custom-tab {
  font-size: 12px;
}
