.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5rem;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  z-index: 1050;
  transition: width 0.1s ease-in-out;
}

.sidebar:hover {
  width: 16rem;
}

.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar .nav-link i {
  width: 1rem;
}

.sidebar .nav-link span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 1;
}

.sidebar-header {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-header h2 {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 0;
  transition: opacity 0.1s ease-in-out;
}

.sidebar:hover .sidebar-header h2 {
  opacity: 1;
}

.content {
  margin-left: 7rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  height: 650px;
  background: url('./hero-bg.png');
  color: #ffff;
}
